autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in

Makefile
Makefile.in
config.log
config.status
config/
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/Makefile
src/Makefile.in
src/.deps

*.gmo
*.o
connman-gtk
